.head {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--subtext-color);
    margin-bottom: 8px;
}

.head img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.head .feed-name {
    margin-right: 6px;
}

.head .feed-name:hover {
    text-decoration: underline;
}

.body {
    display: flex;
}

.body .title-and-summary {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 8px;
    overflow: hidden;
}

.body .title-and-summary .title {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
}

.readed .body .title-and-summary .title {
    font-weight: normal !important;
}

.body .title-and-summary .summary {
    margin-top: 8px;
    color: var(--subtext-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.body img {
    width: 134px;
    height: 100px;
    border-radius: 8px;
}

.body {
    height: 124px;
}

.footer {
    display: flex;
    margin-top: 8px;
    padding-top: 12px;
    font-size: 12px;
}

.btn-border-only {
    padding: 4px 16px;
}

.btn-border-only i {
    margin-right: 4px;
}


@media (max-width: 1200px) {
    .body img {
        width: 100px !important;
    }
}
