<div class="left-side-bar d-flex flex-column flex-grow-1">
	<div class="flex-grow-1">
		<div class="section vstack gap-3">
			<NavLink href="/" Match="NavLinkMatch.All">
				<img src="img/home.png" /> Home
			</NavLink>

			<NavLink href="/favorites" Match="NavLinkMatch.All">
				<img src="img/favorite.png" /> My favorites
			</NavLink>
		</div>
		@if (CurrentUser.SubscribedFeeds.Count > 0)
		{
			<div class="section vstack gap-3">
				<div class="title">MY FEEDS</div>
				@foreach (var feed in CurrentUser.SubscribedFeeds)
				{
					<NavLink href="@($"/feed/{feed.SubscriptionName}")" Match="NavLinkMatch.All">
						<img src="@feed.IconUri" /> @feed.Name
					</NavLink>
				}
			</div>
		}
	</div>
	<hr/>
	<div class="bottom">
		<ul>
			<li>
				<a href="/logout">
					<img src="/img/logout.png"><span>Log out</span>
				</a>
			</li>
		</ul>
	</div>
</div>

@code
{
	[CascadingParameter]
	public User CurrentUser { get; set; }
}