.section {
    padding: 9px 0px;
}

.title {
    margin: 10px 0px;
    line-height: 18px;
    color: var(--left-side-bar-section-title-color);
    font-weight: 500;
}

::deep a {
    display: flex;
    align-items: center;
    color: var(--subtext-color);
}

::deep a:hover {
    color: var(--left-side-bar-selected-color);
}

::deep a.active {
    color: var(--left-side-bar-selected-color);
}

::deep a.active {
    font-weight: 500;
}

::deep a img {
    width: var(--left-side-button-image-size);
    height: var(--left-side-button-image-size);
    border-radius: 50%;
    margin-right: var(--left-side-button-text-margin-left);
}

::deep a:hover img {
    border: 1px solid var(--left-side-bar-selected-color);
    padding: 2px;
}