@inject IJSRuntime JSRuntime

<div class="navbar">
    <div class="logo" @onclick="ToggleLeftSideBar">
        <img src="img/logo.svg"/> FeedReader
    </div>
</div>

@code
{
    [CascadingParameter]
    public User CurrentUser { get; set; }

    private void ToggleLeftSideBar()
    {
        JSRuntime.InvokeVoidAsync("toggleLeftSideBar");
    }
}