.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-hight);
    background-color: var(--panel-bg-color);
    padding: 8px var(--body-left-right-padding);
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: var(--left-side-button-image-size);
    height: var(--left-side-button-image-size);
    border: 2px solid var(--main-text-bg-color);
    border-radius: 50%;
}

.navbar .logo span {
    margin-left: var(--left-side-button-text-margin-left);
    color: #ffffff;
    font-size: 22px;
}

.navbar .toolbar {
    color: white;
    font-size: 28px;
}

.navbar .toolbar i {
    cursor: pointer;
}