@inject IJSRuntime JSRuntime

<div class="navbar">
    <div class="logo" href="/">
        <div @onclick="ToggleLeftSideBar"><img src="img/logo.svg"/></div>
        <a href="/">FeedReader</a>
    </div>
    <div class="toolbar"></div>
</div>

@code
{
    [CascadingParameter]
    public User CurrentUser { get; set; }

    private void ToggleLeftSideBar()
    {
        JSRuntime.InvokeVoidAsync("toggleLeftSideBar");
    }
}