<div class="navbar">
    <a class="logo" href="/">
        <img src="img/logo.svg"/>
        <span>FeedReader</span>
    </a>
    <div class="toolbar">
        @if (CurrentUser.Role != UserRole.Guest)
        {
            <a href="/profile"><img src="@CurrentUser.AvatarUri" /></a>
        }
    </div>
</div>

@code
{
    [CascadingParameter]
    public User CurrentUser { get; set; }
}