@page "/favorites"
@inherits LoginRequiredPageBase
@layout LeftSideBarLayout
@using FeedItem = Widgets.FeedItem

<div class="favorites-page d-flex flex-grow-1">
	<div class="page-header">
		<h1>My favorites</h1>
	</div>
	<div class="page-content d-flex flex-grow-1">
		<div class="feed-items-panel d-flex flex-column flex-grow-1 pe-lg-3">
            <Virtualize Items="@App.CurrentUser.Favorites" Context="feedItem">
                <FeedItem ClassName="mb-3" Item=@feedItem />
            </Virtualize>
        </div>
	</div>
</div>
