@page "/login"

<div class="login">
    <div class="wrapper">
        <div class="title">Welcome back</div>
        <a class="btn"><img src="img/microsoft.svg"><span>Continue with Microsoft</span></a>
        <a class="btn"><img src="img/google.svg"><span>Continue with Google</span></a>
        <div class="term">By continuing, you agree to FeedReader &nbsp;<br /><a href="/terms">Terms of Service</a>,&nbsp;<a href="/privacy">Privacy Policy</a></div>
    </div>
</div>