.login {
    display: flex;
    justify-content: center;
}

.login .wrapper {
    display: flex;
    flex-direction: column;
}

.login .title {
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    margin: 50px 0px 30px;
    text-align: center;
}

.login .term {
    text-align: center;
    font-size: 14px;
    color: var(--subtext-color);
}

.login .term a {
    color: #18a0fb;
}

.login .term a:hover {
    text-decoration: underline;
}