@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@layout MainLayout

<div class="left-side-bar-layout d-flex">
	<div id="left-side-bar" class="left d-flex" @onclick="@(() => JSRuntime.InvokeVoidAsync("hideLeftSideBar"))">
		<LeftSideBar/>
	</div>
	<div id="left-side-bar-layout-content" class="right show d-flex flex-grow-1">
		@Body
	</div>
</div>