.left-side-bar-layout {
    height: 100%;
}

.left {
    position: fixed;
    left: 0px;
    top: var(--navbar-hight);
    bottom: 0px;
    width: var(--left-side-bar-size);
    box-shadow: inset 0 6px 12px hsl(0deg 0% 56% / 8%);
    background-color: var(--left-side-bar-bg-color);
    padding: 0px var(--body-left-right-padding);
    overflow: scroll;
    scrollbar-width: none;
}

.left::-webkit-scrollbar {
    display: none;
}

.right {
    margin-left: var(--left-side-bar-size);
}

::deep .page-header {
    box-shadow: 0 0 8px hsl(0deg 0% 89% / 60%);
    padding: 10px 24px;
    background-color: var(--panel-bg-color);
    height: 58px;
    display: flex;
    align-items: center;
    position: fixed;
    left: var(--left-side-bar-size);
    right: 0px;
}

::deep .page-header h1 {
    margin: 0px;
    font-family: Arial;
    font-size: 22px;
    font-weight: 700;
}

::deep .page-content {
    display: flex;
    margin-top: 58px;
    padding: 1rem;
}