.main-layout {
    padding-top: var(--navbar-hight);
    overflow-x: hidden;
}

.main-layout .page {
    width: 100%;
}

::deep .panel {
    background-color: var(--panel-bg-color);
    padding: var(--panel-padding);
    box-shadow: 0 0 12px rgb(61 99 140 / 8%);
    border-radius: 12px;
}

@media (max-width: 1200px) {
    ::deep .panel {
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}
