.main-layout {
    display: flex;
    height: 100%;
    padding-top: var(--navbar-hight);
}

.main-layout .page {
    width: 100%;
}

::deep .panel {
    background-color: var(--panel-bg-color);
    padding: 24px;
    margin: 16px;
    box-shadow: 0 0 12px rgb(61 99 140 / 8%);
    border-radius: 12px;
}