@import url("dimension.css");
@import url("light.theme.css");
@import url("dark.theme.css");

*, ::before, ::after {
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    color: var(--color);
    background-color: var(--bg-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    user-select: none;
    background-color: var(--panel-bg-color);
}

.btn:hover {
    filter: brightness(0.9);
}