@media (prefers-color-scheme: dark) {
    :root {
        --color: #ffffff;
        --bg-color: #000000;
        --panel-bg-color: #444444;
        --subtext-color: #a0a0a0;
        --gray-bg-color: #444444;
    }
}