@media (prefers-color-scheme: dark) {
    :root {
        --color: #ffffff;
        --bg-color: #000000;
        --btn-bg-color: #444444;
        --panel-bg-color: #343434;
        --subtext-color: #a0a0a0;
        --gray-bg-color: #444444;
        --left-side-bar-bg-color: #242424;
        --left-side-bar-selected-color: #ffffff;
    }
}