:root {
    --navbar-hight: 56px;
    --body-left-right-padding: 16px;
    --left-side-bar-size: 256px;
    --left-side-button-image-size: 30px;
    --left-side-button-text-margin-left: 10px;
    --right-side-bar-size: 300px;
    --panel-padding: 24px;
}