:root {
    --color: #000000;
    --bg-color: #f7f9fa;
    --btn-color: #fefefe; 
    --btn-bg-color: #5BC4C5;
    --panel-bg-color: #fefefe;
    --gray-bg-color: #f2f5f8;
    --main-text-bg-color: #ffffff;
    --subtext-color: #656565;
    --left-side-bar-bg-color: #eff3f6;
    --left-side-bar-selected-color: #ff5a5a;
    --left-side-bar-section-title-color: #9b9b9b;
}